$surface-darkgrey: #20252b;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-grey: #2b3238;
$surface-red: #f87070;

* {
  all: unset;
}

.mx-1 {
  margin: 0 1em;
}

.mt-10 {
  margin-top: 10em;
}

.mt-5 {
  margin-top: 5em;
}

.text-lg {
  font-size: 2em;
}

.text-md {
  font-size: 1.4em;
}

.text-xxl {
  font-size: 7em;
}

.text-xl {
  font-size: 3em;
}

.divider {
  border-bottom: 1px solid $surface-lightgrey;
}

.text-gray {
  color: $surface-darkgray;
}

// vim:ft=scss
