// vim:ft=scss

.tray-popup {
  background-color: rgba(#1d2021, 1);
  /* works bad when overlays another window */
  /* border-radius: 0.7rem; */
  padding: 14px;
}

.tray-inline {
  background-color: rgba(#1d2021, 0);
}
